body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecfeff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btn {
  border: 0;
  outline: 0;
  background-color: #0891b2;
  color: #fff;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}
